<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 /* background-image: linear-gradient(to left,rgb(46, 219, 245),rgb(0, 255, 174));*/
  background-image: url("/assets/wl.jpg");
  min-height: 100%;
}
</style>
<body>

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->


<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->


  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>Coil type visbreaker / conventional visbreaker
    </b></h1>

    <img src="/w3images/profile_girl.jpg" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <img src="/w3images/profile_girl.jpg" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">

  </header>

  <!-- Portfolio Section -->
  <div class="w3-padding-32 w3-content" id="portfolio">

    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">



    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey " id="about">
    <h2> <b>AIM </b> </h2>

    <p>=> To reduce viscosity of the ADU residue,VDU residue,heavy crude .
    </p>
    <p>=> To manufacture fuel oil.
      <hr class="w3-opacity">
<h2> <b>FEED</b>
</h2>
<p>=> Long residue
</p>
<p>=> Short residue
</p>
<p>=> Heavy crude
</p>
<hr class="w3-opacity">
<h2> <b>PRODUCT</b>
</h2>
<p>=> Fuel oil

</p>
<p>=> Lpg
</p>
<p>=> Naphtha
</p>
<hr class="w3-opacity">

<h2>  <b>PRINCIPLE</b></h2>
<P>=> Mild thermal conversion process</P>
<hr class="w3-opacity">
<h2><b>OPERATING CONDITIONS </b>
</h2>
<p>=> Inlet temp = 350 °c</p>
<p>=> Outlet temp = 425-475°c</p>
<p>=>
  Pressure = 14-35 kg/cm²</p>
<p>=> Residance time = 600 sec (10min)</p>
  <p>=> Quenching time = 269°c</p>
  <hr class="w3-opacity">
  <h2><b>FRACTINATOR </b>
  </h2>
  <p>=> Inlet temp ( flash zone) = 390°c</p>

<p>=> Top temp = 140°c</p>
<p>=> Bottom temp = 400°c</p>


  <hr class="w3-opacity">

  <h2> <b>EQUIPMENT REQUIRED</b> </h2>
<p>=> Quenching tower</p>
<p>=> Furnance</p>
<p>=> Fractionato</p>
<hr class="w3-opacity">
<h2> <b>YIELD PATTERN </b> </h2>
<div class="w3-row-padding" style="margin:0 -16px">
  <div class="w3-half w3-margin-bottom">
    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
      <li class="w3-dark-grey w3-xlarge w3-padding-32">Yield % on Feed</li>
      <li class="w3-padding-16">  <h4>Gas</h4></li>
      <li class="w3-padding-16"> <h4>Naphtha </h4> </li>

      <li class="w3-padding-16"> <h4>Fuel oil</h4></li>


    </ul>
  </div>

  <div class="w3-half">
    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
      <li class="w3-black w3-xlarge w3-padding-32">Product</li>
      <li class="w3-padding-16"><h4>3%</h4>  </li>
      <li class="w3-padding-16"><h4>4%</h4></li>
      <li class="w3-padding-16"><h4>93%</h4></li>


    </ul>
  </div>
<!-- End Grid/Pricing tables -->


<h3 class="w3-padding-16"></h3>
<div class="w3-row-padding" style="margin:0 -16px">
  <div class="w3-half w3-margin-bottom">
    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
      <li class="w3-dark-grey w3-xlarge w3-padding-32">Characteristics</li>
      <li class="w3-padding-16"> -</li>
      <li class="w3-padding-16">  <h4>Density ( kg/cm3) </h4></li>
      <li class="w3-padding-16"><h4>Pour point (.c ) </h4></li>
      <li class="w3-padding-16"><h4>Kinematic Viscosity at 50.c (CSE) </h4></li>
      <li class="w3-padding-16"><h4>Sulphur</h4></li>

    </ul>
  </div>

  <div class="w3-half">
    <ul class="w3-ul w3-center w3-card w3-hover-shadow">
      <li class="w3-black w3-xlarge w3-padding-32">Visbreaker</li>
      <!-- <div class="card-text">
        <div><span>40</span><span>&cent;</span></div>
        <div>
          <span>29</span>
          <span>JAN</span>
          <span>02461</span>
        </div>
      </div> -->

      <li class="w3-padding-16  fs-4">Feed <span class="ps-5 ">Product</span> </li>
      <li class="w3-padding-16 fs-4">965<span class="ps-5 ">956</span></li>
      <li class="w3-padding-16 fs-4">21<span class="ps-5 ">6</span></li>
      <li class="w3-padding-16 fs-4 mt-3">580<span class="ps-5 ">120</span></li>
      <li class="w3-padding-16 fs-3 mt-2">3.8<span class="ps-5 ">3.8</span></li>

    </ul>
  </div>
<!-- End Grid/Pricing tables -->

<div  id="rock">
<div class="containers "  id="cont" >
 <h2 class="text-center">  <b>ADVANTAGES </b></h2>
  <div class="content mt-4" style="font-size: 10px;">

    <p>=> To reduce viscosity of heavy crude.
    </p>
    <p>=> To get high yeild of fuel oil
    </p>
    <p>=> It is the cheapest process among secondary process
    </p>
    <p>=> It is the safest process among secondary process</p>
    <p>=> It is the very good process for upgradation of value less product (bottom of barrel)</p>
    <p>=> More flexible process
    </p>


  </div>
  <div class="flap"></div>
</div>
</div>
</div></div>





    <!-- End Grid/Pricing tables -->
    </div>

  <!-- End About Section -->
  </div>



    <!-- Image of location/map -->


  <!-- End Contact Section -->



<!-- END PAGE CONTENT -->


<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "60%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>

